.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-image: url('../assets/images/hero-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

// .typewriter h1 {
//   overflow: hidden;
//   border-right: .15em solid #fff;
//   padding-right: 5px;
//   white-space: nowrap;
//   margin: 0 auto;
//   width: 100%;
//   animation:
//     typing 2s steps(21),
//     caret .4s step-end infinite alternate;

//   animation-delay: 5s;
// }

// @keyframes typing {
//   from {
//     width: 0
//   }
// }

// @keyframes caret {
//   50% {
//     border-color: transparent;
//   }
// }