.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: linear-gradient(174deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  background-image: url('../assets/images/hero-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}