.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 15px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  padding-right: 50px;
  gap: 50px;

  .linkText {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border-bottom: 1px solid transparent;
    transition: 0.2s ease-in-out;

    &:hover {
      border-bottom: 1px solid #fff;
    }
  }

  a {
    position: relative;

    &:before {
      content: ">";
      position: absolute;
      color: #fff;
      width: 20px;
      left: -25px;
      text-align: right;
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      &:before {
        opacity: 1;
        transform: translateX(0);
      }
    }

    &:not(:hover) {
      &:before {
        opacity: 0;
        transform: translateX(10px);
      }
    }
  }
}
